/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.searchbar-open {
  border-radius: 8px 8px 0 0;
} */

.SearchBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  box-shadow: 0px 4px 6px #ccc;
  /* Shadow properties */
  width: 60%;

  flex-direction: column;
  border-color: #b25610;
  border-width: 2px;
}

input {
  padding: 10px;
  width: 40%;
  border-radius: 4px 0 0 4px;
  outline: none;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: #b25610;
  color: white;
  cursor: pointer;
  margin: 10px;
}


/* .search-results {
  width: 100%;
  max-width: 320px;
  top: 48px;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0 0 8px 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 10px;
}

.search-result {
  padding: 4px 12px;
  cursor: pointer;
}

.search-result:hover {
  background-color: #f8f9fa;
}

.search-result:last-child:hover {
  border-radius: 0 0 8px 8px;
} */