.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.container h1 {
  margin: 40;
  padding: 20px;
  color: orange;
}

.result-container {
  border: 1px solid #ccc;
  padding: 15px;
  width: 80%;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.error-container {

  font-size: larger;
  background-color: #e8655c;

  color: white;

  margin-left: 35%;

  padding: 15px;

  text-align: center;

  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  color: orange;
}